.mb3 {
  margin-bottom: 3px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb7 {
  margin-bottom: 7px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb9 {
  margin-bottom: 9px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb18 {
  margin-bottom: 18px;
}

.mb19 {
  margin-bottom: 19px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb23 {
  margin-bottom: 23px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb27 {
  margin-bottom: 27px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb38 {
  margin-bottom: 38px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb42 {
  margin-bottom: 42px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb52 {
  margin-bottom: 52px;
}

.mb54 {
  margin-bottom: 54px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb62 {
  margin-bottom: 62px;
}

.ml4 {
  margin-left: 4px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.text-center {
  text-align: center;
}

.margin-center {
  margin: 0 auto;
}

.d-block {
  display: block;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-inline-block {
  display: inline-block;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-justify-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-justify-beetween {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-align-center {
  -ms-flex-align: center;
  align-items: center;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.text-thin {
  font-weight: 100;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.lnh0-9 {
  line-height: 0.9;
}

.lnh1-1 {
  line-height: 1.1;
}

.lnh1-5 {
  line-height: 1.5;
}

.lnh1-6 {
  line-height: 1.6;
}

.fz64 {
  font-size: 64px;
}

.fz44 {
  font-size: 44px;
}

.fz23 {
  font-size: 23px;
}

.fz19 {
  font-size: 19px;
}

.fz16 {
  font-size: 16px;
}

.fz15 {
  font-size: 15px;
}

.text-black {
  color: #000000;
}

.text-orange {
  color: #e9af3c;
}

.text-yellow {
  color: #ffd543;
}

.text-light-gray {
  color: #e4e6ef;
}

.text-darkest-gray {
  color: #2b2b2b;
}

.text-roboto-condensed {
  font-family: "Roboto Condensed";
}

.text-underline {
  text-decoration: underline;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span, p {
  line-height: 1;
}

p {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeueCyr", Helvetica;
  line-height: 1;
}

body {
  font-family: "HelveticaNeueCyr", Helvetica;
  color: #000000;
  background-color: #fff;
}

.komatsu-wrapper {
  position: relative;
  min-width: 1170px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.content-wrapper {
  padding-top: 104px;
}

.section {
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  width: 1170px;
}

.nav-white {
  position: absolute;
  height: 104px;
  padding-top: 27px;
}
.nav-white .nav__menu .nav__menu__contacts .btn {
  font-family: "Bello Pro";
}
.nav-white .nav__menu .nav__menu__contacts .btn:hover {
  background-color: #ffd543;
  border-color: #ffd543;
}
.nav-white .nav__back a:hover {
  color: #ffd543;
}

.komatsu {
  padding-top: 74px;
}

.komatsu-bg-inscription-yellow {
  background: url("../images/komatsu-bg-inscription.png") no-repeat;
  width: 795px;
  height: 146px;
  padding-top: 37px;
}

.bg-yellow {
  position: absolute;
  background-color: #ffd62d;
  width: 100%;
  height: 1286px;
  transform: skew(-31deg) rotate(148deg);
  top: -740px;
}

.komatsu__bg-white {
  position: absolute;
  top: 271px;
  right: 340px;
  height: 350px;
  width: 120px;
}
.komatsu__bg-white::after {
  position: absolute;
  content: "";
  height: 350px;
  width: 120px;
  background: #ffffff;
  transform: skew(-31deg) rotate(148deg);
}

.task__macbook-screenshot {
  background: url("../images/komatsu-site-screenshot.png") no-repeat;
  width: 764px;
  height: 521px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 50px 0 0 -50px;
  z-index: 1;
}

.task__descr {
  margin-top: 150px;
  margin-left: -7px;
  width: 340px;
}

.z-index-20 {
  z-index: 20;
}

.z-index-30 {
  z-index: 30;
}

.section-number {
  position: absolute;
  font-family: "Fira Sans";
  font-size: 109px;
  top: 210px;
  right: 350px;
  letter-spacing: -2px;
}

.donut-black {
  width: 133px;
  height: 133px;
  border: 40px solid #000000;
  border-radius: 50%;
}

.donut-gray {
  width: 133px;
  height: 133px;
  border: 40px solid #e2e4eb;
  border-radius: 50%;
}

.donut-yellow {
  width: 133px;
  height: 133px;
  border: 40px solid rgba(255, 198, 0, 0.7);
  border-radius: 50%;
}

.komatsu__donut-black {
  position: absolute;
  top: 90px;
  right: 25px;
  z-index: 30;
}

.task__donut-gray {
  position: absolute;
  bottom: -154px;
  left: -181px;
  z-index: 30;
}

.solution__donut-yellow {
  position: absolute;
  z-index: 30;
  top: 240px;
  right: 350px;
}

.parallelepiped-yellow {
  position: absolute;
  width: 232px;
  height: 121px;
  background-color: #ffd62d;
  top: 473px;
  left: 382px;
  transform: skew(-36deg) rotate(-36deg);
}

.solution {
  padding-top: 110px;
  margin-bottom: 140px;
}

.solution-slider__item {
  position: relative;
  width: 100%;
  height: 197px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  left: 0;
  padding: 15px 50px 15px;
  font-size: 17px;
  color: #000;
  font-weight: normal;
  background: #ffffff;
  border: 1px solid #f1f1f1;
}

.solution-slider {
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.solution-slider .owl-stage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 270px;
}
.solution-slider .owl-stage-outer {
  padding: 25px 0;
}
.solution-slider .owl-item {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.solution-slider .owl-item > * {
  transition: all 0.5s ease;
  width: 100%;
}
.solution-slider .owl-item.active > * {
  position: relative;
  transform: scale(1);
  left: 70px;
}
.solution-slider .owl-item.active + .active {
  z-index: 2;
}
.solution-slider .owl-item.active + .active > * {
  left: 0;
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
}
.solution-slider .owl-item.active + .active + .active {
  z-index: 1;
}
.solution-slider .owl-item.active + .active + .active > * {
  left: -70px;
  transform: scale(1);
  z-index: 1;
  box-shadow: none;
}

.solution-slider__carousel {
  max-width: 960px;
  margin: 0 auto;
}
.solution-slider__carousel .owl-prev, .solution-slider__carousel .owl-next {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  margin-left: -480px;
  background: url("../images/arrow-slider.png") no-repeat center;
  width: 70px;
  height: 200px;
  background-color: #fff;
}
.solution-slider__carousel .owl-prev:hover, .solution-slider__carousel .owl-next:hover {
  background: url("../images/arrow-slider-active.png") no-repeat center;
  height: 200px;
  background-color: #fff;
}
.solution-slider__carousel .owl-prev::after, .solution-slider__carousel .owl-next::after {
  position: absolute;
  content: "";
  width: 232px;
  height: 195px;
  background: transparent;
  top: 0;
  left: 70px;
}
.solution-slider__carousel .owl-next {
  margin-left: auto;
  right: 50%;
  margin-right: -480px;
  left: auto;
  transform: translateY(-50%) rotate(180deg);
}
.solution-slider__carousel .owl-next::after {
  top: 0;
}

.section-number_2 {
  position: relative;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}
.section-number_2::after {
  position: absolute;
  content: "";
  height: 115px;
  width: 2px;
  left: 50%;
  top: -130px;
  transform: translateX(-50%);
  background-color: #000000;
}

.interesting__bg-white {
  position: absolute;
  top: 62px;
  left: 520px;
}
.interesting__bg-white::after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  transform: skew(-27deg) rotate(161deg);
  width: 120px;
  height: 200px;
}

.komatsu-bg-inscription-gray {
  position: relative;
  background: url("../images/komatsu-bg-inscription-gray.png") no-repeat;
  width: 795px;
  height: 146px;
  padding-top: 67px;
  margin-top: -30px;
}

.interesting-images-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding-top: 116px;
  left: -213px;
}

.interesting__donut-yellow {
  position: absolute;
  bottom: 73px;
  right: 2px;
  border: 40px solid #ffd543;
}

.interesting-image-1 {
  position: relative;
  background: url("../images/interesting-image-1.png") no-repeat;
  width: 1379px;
  height: 909px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.interesting-image-2 {
  position: relative;
  background: url("../images/interesting-image-2.png") no-repeat;
  width: 1700px;
  height: 1130px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  top: -106px;
  margin-left: -1017px;
}

.interesting-image-3 {
  position: relative;
  background: url("../images/interesting-image-3.png") no-repeat;
  width: 837px;
  height: 429px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  top: 476px;
  margin-left: -1342px;
}

.bg-gray {
  position: absolute;
  background-color: rgba(226, 228, 235, 0.6);
  width: 100%;
  height: 1042px;
  transform: skew(-31deg) rotate(148deg);
  top: 464px;
}

.interesting-descr {
  position: absolute;
  top: 975px;
  left: 140px;
}

.title-with-bg-title {
  position: absolute;
  font-size: 19px;
  font-weight: 300;
  font-family: "HelveticaNeueCyr";
  color: #2b2b2b;
  line-height: 1;
  top: 26px;
  left: 3px;
}

.interesting-descr__title-wrapper {
  position: relative;
  height: 64px;
  left: -3px;
}

.title-with-bg-bg {
  position: absolute;
  font-family: "HelveticaNeueCyr";
  font-weight: bold;
  font-size: 64px;
  color: #dadce5;
  line-height: 1;
  letter-spacing: -0.5px;
}

.interesting-descr__text {
  position: relative;
  z-index: 30;
  font-weight: 300;
  width: 440px;
  color: #000000;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.interesting-excavator {
  background: url("../images/interesting-excavator.png") no-repeat;
  width: 180px;
  height: 180px;
}

.interesting-loader {
  background: url("../images/interesting-loader.png") no-repeat;
  width: 180px;
  height: 180px;
}

.interesting-tech {
  position: relative;
  margin-top: 17px;
  margin-left: 118px;
  z-index: 30;
  margin-right: 89px;
}

.interesting-wrapper {
  margin-bottom: 193px;
}

.interesting-filter {
  margin-left: -3px;
}

.interesting-filter__title-wrapper {
  position: relative;
  height: 64px;
  width: 100%;
  margin-top: -15px;
}

.button__orange {
  background: url("../images/filter-button-orange.jpg") no-repeat;
  width: 240px;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.button__white {
  background: url("../images/filter-button-white.jpg") no-repeat;
  width: 170px;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.select {
  background: url("../images/filter-select.jpg") no-repeat;
  width: 420px;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.reset-filter {
  font-family: "Roboto Condensed";
  font-size: 14px;
  color: #e9af3c;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
}
.reset-filter:hover {
  text-decoration: none;
}

.interesting-tech__name {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 16px;
  color: #636363;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}

.interesting-tech-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 185px;
}

.interesting__bg-bottom-white {
  position: absolute;
  top: 57px;
  left: 500px;
}
.interesting__bg-bottom-white::after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  transform: skew(-27deg) rotate(161deg);
  width: 140px;
  height: 200px;
}

.my-komatsu__bg-bottom-white {
  position: absolute;
  top: 63px;
  left: 500px;
}
.my-komatsu__bg-bottom-white::after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  transform: skew(-27deg) rotate(162deg);
  width: 140px;
  height: 200px;
}

.relative-wrapper {
  position: relative;
}

.distributor-find {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.distributor-find__bg-map {
  background: url("../images/gray-map.png") no-repeat;
  background-position: 407px 188px;
}

.distributor-find__notebook {
  background: url("../images/distributor-find-notebook.png") no-repeat;
  width: 872px;
  height: 527px;
  z-index: 10;
  position: relative;
}

.distributor-find__left-item {
  position: relative;
  margin-top: 83px;
}

.distributor-find__notebook {
  margin-left: -172px;
}

.distributor-find__notebook-parallelepiped {
  position: absolute;
  top: 378px;
  left: 320px;
}

.distributor-find__right-item {
  margin-top: 128px;
  margin-left: -47px;
  width: 370px;
}

.distributor-find__input {
  background: url("../images/distributor-find-input.png") no-repeat;
  width: 363px;
  height: 40px;
}

.vertical-line {
  position: relative;
  width: 2px;
  height: 115px;
  background: #000009;
  margin: -10px auto 40px;
}

.vertical-line_section-4 {
  margin-top: 0;
}

.distributor-find-grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto 80px;
}

.distributor-find__maintance {
  position: relative;
  width: 512px;
  padding: 55px 70px 0 65px;
  display: -ms-flexbox;
  display: flex;
  height: 872px;
  -ms-flex-direction: column;
  flex-direction: column;
}

.distributor-find__text {
  height: 164px;
}

.distributor-find__maintance-bg {
  position: absolute;
  height: 782px;
  background-color: #ebecf1;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.distributor-find__komtrax {
  position: relative;
  width: 512px;
  height: 872px;
  padding: 55px 70px 0 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.distributor-find__komtrax-bg {
  position: absolute;
  background-color: #f5f5f8;
  width: 100%;
  height: 782px;
  top: 0;
  left: 0;
}

.distributor-find__maintance-image {
  background: url("../images/distributor-find-maintance-image.png") no-repeat;
  width: 425px;
  height: 512px;
  margin-left: -20px;
}

.distributor-find__komtrax-image {
  background: url("../images/distributor-find-komtrax-image.png") no-repeat;
  width: 425px;
  height: 512px;
  margin-left: -20px;
}

.section_4 {
  padding-top: 130px;
}

.my-komatsu {
  position: relative;
}

.my-komatsu__title {
  margin: -30px auto 35px;
}

.my-komatsu__descr {
  position: relative;
  width: 740px;
  margin: 0 auto;
  z-index: 30;
}

.my-komatsu__donut-gray {
  position: absolute;
  top: -76px;
  left: -418px;
}

.my-komatsu__registration {
  position: relative;
  background: url("../images/my-komatsu-registration.png") no-repeat;
  width: 445px;
  height: 711px;
  margin-left: 208px;
}

.my-komatsu__auth {
  position: relative;
  background: url("../images/my-komatsu-auth.png") no-repeat;
  width: 479px;
  height: 379px;
  z-index: 10;
  margin-top: -565px;
  margin-left: 466px;
}

.my-komatsu__donut-yellow {
  position: absolute;
  top: 80px;
  right: 265px;
}

.my-komatsu__bg-yellow {
  top: 930px;
  height: 1046px;
}

.capabilities {
  position: relative;
  margin-bottom: 11px;
  margin-top: 45px;
  margin-left: -683px;
  left: 50%;
}

.capabilities__descr {
  margin: 194px 0 0 199px;
  width: 330px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.capabilities__image {
  position: relative;
  background: url("../images/capabilities.png") no-repeat;
  width: 1080px;
  height: 652px;
  margin-left: -114px;
  z-index: 20;
}

.capabilities__inner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.capabilities__slider {
  width: 705px;
  height: 441px;
  top: 40px;
  left: 184px;
}
.capabilities__slider .owl-dots {
  position: absolute;
  margin-top: 92px;
  left: 39%;
  display: -ms-flexbox;
  display: flex;
}
.capabilities__slider .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 31px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.capabilities__slider .owl-dot:last-child {
  margin-right: 0;
}
.capabilities__slider .owl-dot.active {
  background-color: #fff;
}

.capabilities__parallelepiped {
  background-color: #fdc928;
  left: 520px;
  top: 455px;
  height: 150px;
  filter: brightness(100%);
}

.distributor-capabilities__descr {
  width: 820px;
  margin: 0 auto 90px;
}

.distributor-news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.distributor-image-1 {
  background: url("../images/distributor-image.png") no-repeat;
  width: 420px;
  height: 25px;
  margin-bottom: 6px;
}

.distributor-image-2 {
  background: url("../images/distributor-image-2.png") no-repeat;
  width: 437px;
  height: 414px;
}

.distributor-news__left-item {
  width: 437px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}
.distributor-news__left-item:last-child {
  margin-right: 0;
}

.distributor-news__right-item {
  width: 420px;
}

.distributor-news_donut {
  position: absolute;
  right: -35px;
  bottom: 280px;
}

.section-number_5 {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  margin-top: 196px;
  line-height: 1;
}
.section-number_5::after {
  position: absolute;
  content: "";
  height: 115px;
  width: 2px;
  left: 50%;
  top: -110px;
  transform: translateX(-50%);
  background-color: #000000;
}

.distributor-news__bg-bottom-white {
  position: absolute;
  left: 500px;
  top: 700px;
}
.distributor-news__bg-bottom-white::after {
  position: absolute;
  content: "";
  background-color: #fff;
  transform: skew(-27deg) rotate(161deg);
  width: 140px;
  height: 200px;
  top: 0;
  left: 0;
}

.result {
  margin-bottom: 80px;
}

.result-map {
  position: relative;
  background: url("../images/result-map.png") no-repeat;
  width: 683px;
  height: 377px;
  margin: -75px auto 28px;
  z-index: 20;
}

.result__descr {
  width: 740px;
  margin: 0 auto;
}

.result__donut {
  position: absolute;
  bottom: 395px;
  left: 330px;
  z-index: 1;
}

.komatsu-wrapper .nav-white .nav__menu .nav__menu__contacts .btn {
  font-family: "Bello Pro";
}
.komatsu-wrapper .nav-white .nav__menu .nav__menu__contacts .btn:hover {
  color: #FFFFFF;
  background-color: #ffd543;
  border-color: #ffd543;
}
.komatsu-wrapper .nav-white .nav__back a:hover {
  color: #ffd543;
}
.komatsu-wrapper .nav-white {
  height: 113px;
  position: absolute;
}
.komatsu-wrapper .pagenavi .pagenavi__post a .pagenavi__cell {
  font-family: "HelveticaNeueCyr", Helvetica;
  font-size: 16px;
  font-weight: 300;
  padding: 0 50px;
}
.komatsu-wrapper .pagenavi .pagenavi__post a {
  color: #000;
}
.komatsu-wrapper .pagenavi .pagenavi__post a:hover {
  border-color: #ffd543;
  color: #ffd543;
}
.komatsu-wrapper .link_site {
  text-align: center;
}
.komatsu-wrapper .pagenavi {
  padding-top: 0;
  padding-bottom: 80px;
}
.komatsu-wrapper .main_btn {
  font-family: "Bello Pro";
  display: inline-block;
  font-size: 20px;
  color: #000;
  border: 2px solid #ffd543;
  background-color: #ffd543;
  padding: 5px 30px;
}
.komatsu-wrapper .main_btn:hover {
  text-decoration: none;
  color: #ffd543;
  background-color: #fff;
  border-color: #ffd543;
}
.komatsu-wrapper .feedback {
  padding-top: 90px;
  padding-bottom: 107px;
}
.komatsu-wrapper .feedback .feedback__desktop p,
.komatsu-wrapper .feedback .feedback__desktop a,
.komatsu-wrapper .feedback__name {
  font-family: "HelveticaNeueCyr", HelveticaNeueCyr;
}
.komatsu-wrapper .feedback__name {
  font-weight: 200;
  margin-bottom: 50px;
}
.komatsu-wrapper .feedback .feedback__email .form-group .btn {
  font-family: "Bello Pro";
  border-radius: 0;
  height: auto;
  background-color: transparent;
  font-size: 28px;
  color: #464646;
  border: 3px solid #464646;
  padding-top: 11px;
  padding-bottom: 11px;
}
.komatsu-wrapper .feedback .feedback__email .form-group .btn:hover {
  background-color: #ffd543;
  border-color: #ffd543;
  color: #000;
}
.komatsu-wrapper .vista {
  background-color: #ffd543;
  padding-top: 75px;
  padding-bottom: 100px;
}
.komatsu-wrapper .vista,
.komatsu-wrapper .vista__name,
.komatsu-wrapper .vista p,
.komatsu-wrapper .vista span {
  font-family: "HelveticaNeueCyr", HelveticaNeueCyr;
  color: #000;
}
.komatsu-wrapper .section__space b {
  background-color: #ffd543;
}
.komatsu-wrapper .contacts {
  background-image: url("../images/background.jpg");
  background-size: cover;
}
