.fri {
  display: inline-block;
  vertical-align: middle;
}

.fri-logo {
  background-image: url('../images/icons-s9c8542c6ff.png');
  background-position: 0 -88px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 282px;
}

.fri-arrow-dark {
  background-image: url('../images/icons-s9c8542c6ff.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 42px;
}

.nav__back > a:hover .fri-arrow-dark {
  background-image: url('../images/icons-s9c8542c6ff.png');
  background-position: 0 -26px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 21px;
  width: 42px;
}

.komatsu-logo {
  background-image: url('../images/icons-s9c8542c6ff.png');
  background-position: 0 -52px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  height: 31px;
  width: 168px;
}
