html, body
	margin: 0
	height: 100%

*
	padding: 0
	margin: 0
	box-sizing: border-box

span, p
	line-height: 1

p
	margin-bottom: 0

a
	color: inherit
	text-decoration: none
	&:hover
		text-decoration: none

h1, h2, h3, h4, h5, h6
	font-family: "HelveticaNeueCyr", Helvetica
	line-height: 1

body
	font-family: "HelveticaNeueCyr", Helvetica
	color: #000000
	background-color: #fff

.komatsu-wrapper
	position: relative
	min-width: 1170px
	display: flex
	flex-direction: column
	overflow: hidden

.content-wrapper
	padding-top: 104px

.section
	position: relative
	width: 100%

.container
	position: relative
	width: 1170px

.nav-white
	position: absolute
	height: 104px
	padding-top: 27px
	.nav__menu .nav__menu__contacts

		.btn
			font-family: "Bello Pro"
			&:hover
				background-color: #ffd543
				border-color: #ffd543

	.nav__back
		a
			&:hover
				color: #ffd543

.komatsu
	padding-top: 74px

.komatsu-bg-inscription-yellow
	background: url("../images/komatsu-bg-inscription.png") no-repeat
	width: 795px
	height: 146px
	padding-top: 37px

.bg-yellow
	position: absolute
	background-color: #ffd543
	width: 100%
	height: 1286px
	transform: skew(-31deg) rotate(148deg)
	top: -740px

.komatsu__bg-white
	position: absolute
	top: 272px
	right: 340px
	height: 350px
	width: 120px
	&::after
		position: absolute
		content: ''
		height: 350px
		width: 120px
		background: #ffffff
		transform: skew(-31deg) rotate(148deg)

.task__macbook-screenshot
	background: url("../images/komatsu-site-screenshot.png") no-repeat
	width: 764px
	height: 521px
	flex-shrink: 0
	margin: 50px 0 0 -50px
	z-index: 1

.task__descr
	margin-top: 150px
	margin-left: -7px
	width: 340px

.z-index-20
	z-index: 20

.z-index-30
	z-index: 30

.section-number
	position: absolute
	font-family: "Fira Sans"
	font-size: 109px
	top: 210px
	right: 350px
	letter-spacing: -2px

.donut-black
	width: 133px
	height: 133px
	border: 40px solid #000000
	border-radius: 50%

.donut-gray
	width: 133px
	height: 133px
	border: 40px solid #e2e4eb
	border-radius: 50%

.donut-yellow
	width: 133px
	height: 133px
	border: 40px solid rgba(#ffc600, 0.7)
	border-radius: 50%

.komatsu__donut-black
	position: absolute
	top: 90px
	right: 25px
	z-index: 30

.task__donut-gray
	position: absolute
	bottom: -154px
	left: -181px
	z-index: 30

.solution__donut-yellow
	position: absolute
	z-index: 30
	top: 230px
	right: 310px

.parallelepiped-yellow
	position: absolute
	width: 232px
	height: 121px
	background-color: #ffd543
	top: 473px
	left: 382px
	transform: skew(-36deg) rotate(-34deg)
	filter: brightness(105%)

.solution
	padding-top: 110px
	margin-bottom: 175px

.solution-slider__item
	position: relative
	width: 400px
	height: 235px
	display: flex
	align-items: center
	justify-content: center
	flex-shrink: 0
	padding: 15px 50px 15px
	font-size: 23px
	color: #000
	font-weight: normal
	background: #ffffff
	border: 1px solid #f1f1f1

.solution-slider
	display: flex
	position: relative
	.owl-stage
		display: flex
		align-items: center
	.owl-stage-outer
		padding: 25px 0
	.owl-item
		> *
			position: relative
			transition: all 0.5s ease
		&.active
			display: flex
			margin-left: 100px
			> *
				transform: scale(0.7)
			& + .active
				margin-left: -200px
				z-index: 2
				> *
					transform: scale(1)
					z-index: 2
					box-shadow: 0 0 10px rgba(#000000, 0.27)
			& + .active + .active
				margin-left: -200px
				z-index: 1
				> *
					transform: scale(0.7)
					z-index: 1
					box-shadow: none

.solution-slider__carousel
	.owl-nav
		position: absolute
		top: 110px

		.owl-prev
			position: absolute
			left: 41px
			background: url("../images/arrow-slider.png") no-repeat center
			width: 65px
			height: 65px
			&:hover
				background: url("../images/arrow-slider-active.png") no-repeat center
			&::after
				position: absolute
				content: ''
				width: 269px
				height: 164px
				background: transparent
				top: -50px
				left: 70px

		.owl-next
			position: absolute
			left: 1054px
			background: url("../images/arrow-slider.png") no-repeat center
			width: 65px
			height: 65px
			transform: rotate(180deg)
			&:hover
				background: url("../images/arrow-slider-active.png") no-repeat center
			&::before
				position: absolute
				content: ''
				width: 269px
				height: 164px
				background: transparent
				top: -50px
				left: 70px

.section-number_2
	position: relative
	top: 0
	right: 0
	text-align: center
	line-height: 1
	&::after
		position: absolute
		content: ''
		height: 115px
		width: 2px
		left: 50%
		top: -130px
		transform: translateX(-50%)
		background-color: #000000

.interesting__bg-white
	position: absolute
	top: 62px
	left: 520px
	&::after
		position: absolute
		content: ''
		background-color: #ffffff
		transform: skew(-27deg) rotate(161deg)
		width: 120px
		height: 200px

.komatsu-bg-inscription-gray
	position: relative
	background: url("../images/komatsu-bg-inscription-gray.png") no-repeat
	width: 795px
	height: 146px
	padding-top: 67px
	margin-top: -30px

.interesting-images-wrapper
	position: relative
	display: flex
	padding-top: 116px
	left: -213px

.interesting__donut-yellow
	position: absolute
	bottom: 73px
	right: 2px
	border: 40px solid #ffd543

.interesting-image-1
	position: relative
	background: url("../images/interesting-image-1.png") no-repeat
	width: 1379px
	height: 909px
	flex-shrink: 0

.interesting-image-2
	position: relative
	background: url("../images/interesting-image-2.png") no-repeat
	width: 1700px
	height: 1130px
	flex-shrink: 0
	top: -106px
	margin-left: -1017px

.interesting-image-3
	position: relative
	background: url("../images/interesting-image-3.png") no-repeat
	width: 837px
	height: 429px
	flex-shrink: 0
	top: 476px
	margin-left: -1342px

.bg-gray
	position: absolute
	background-color: rgba(#e2e4eb, 0.6)
	width: 100%
	height: 1042px
	transform: skew(-31deg) rotate(148deg)
	top: 464px

.interesting-descr
	position: absolute
	top: 975px
	left: 140px

.title-with-bg-title
	position: absolute
	font-size: 19px
	font-weight: 300
	color: #2b2b2b
	line-height: 1
	top: 26px
	left: 3px

.interesting-descr__title-wrapper
	position: relative
	height: 64px
	left: -3px

.title-with-bg-bg
	position: absolute
	font-family: "HelveticaNeueCyr"
	font-weight: bold
	font-size: 64px
	color: #dadce5
	line-height: 1
	letter-spacing: -0.5px

.interesting-descr__text
	width: 440px
	color: #000000

.interesting-excavator
	background: url("../images/interesting-excavator.png") no-repeat
	width: 180px
	height: 180px

.interesting-loader
	background: url("../images/interesting-loader.png") no-repeat
	width: 180px
	height: 180px

.interesting-tech
	position: relative
	margin-top: 17px
	margin-left: 118px
	z-index: 30
	margin-right: 89px

.interesting-wrapper
	margin-bottom: 193px

.interesting-filter
	margin-left: -3px

.interesting-filter__title-wrapper
	position: relative
	height: 64px
	width: 100%
	margin-top: -15px

.button__orange
	background: url("../images/filter-button-orange.jpg") no-repeat
	width: 240px
	height: 40px
	flex-shrink: 0

.button__white
	background: url("../images/filter-button-white.jpg") no-repeat
	width: 170px
	height: 40px
	flex-shrink: 0

.select
	background: url("../images/filter-select.jpg") no-repeat
	width: 420px
	height: 40px
	flex-shrink: 0

.reset-filter
	font-family: "Roboto Condensed"
	font-size: 14px
	color: #e9af3c
	font-weight: normal
	text-decoration: underline
	cursor: pointer
	&:hover
		text-decoration: none

.interesting-tech__name
	font-family: "Roboto Condensed"
	font-weight: bold
	font-size: 16px
	color: #636363
	text-align: center
	text-transform: uppercase
	line-height: 1.2

.interesting-tech-wrapper
	display: flex
	flex-direction: column
	width: 185px

.interesting__bg-bottom-white
	position: absolute
	top: 60px
	left: 500px
	&::after
		position: absolute
		content: ''
		background-color: #ffffff
		transform: skew(-27deg) rotate(161deg)
		width: 140px
		height: 200px

.my-komatsu__bg-bottom-white
	position: absolute
	top: 65px
	left: 500px
	&::after
		position: absolute
		content: ''
		background-color: #ffffff
		transform: skew(-27deg) rotate(161deg)
		width: 140px
		height: 200px

.relative-wrapper
	position: relative

.distributor-find
	position: relative
	display: flex
	flex-direction: column

.distributor-find__bg-map
	background: url("../images/gray-map.png") no-repeat
	background-position: 407px 188px

.distributor-find__notebook
	background: url("../images/distributor-find-notebook.png") no-repeat
	width: 872px
	height: 527px
	z-index: 10
	position: relative

.distributor-find__left-item
	position: relative
	margin-top: 83px

.distributor-find__notebook
	margin-left: -172px

.distributor-find__notebook-parallelepiped
	position: absolute
	top: 378px
	left: 320px

.distributor-find__right-item
	margin-top: 128px
	margin-left: -47px
	width: 370px

.distributor-find__input
	background: url("../images/distributor-find-input.png") no-repeat
	width: 363px
	height: 40px

.vertical-line
	position: relative
	width: 2px
	height: 115px
	background: #000009
	margin: -10px auto 40px

.vertical-line_section-4
	margin-top: 0

.distributor-find-grid
	display: flex
	justify-content: center
	margin: 0 auto 80px

.distributor-find__maintance
	position: relative
	width: 512px
	padding: 55px 70px 0 65px
	display: flex
	height: 872px
	flex-direction: column

.distributor-find__text
	height: 164px

.distributor-find__maintance-bg
	position: absolute
	height: 782px
	background-color: #ebecf1
	width: 100%
	top: 0
	left: 0
	z-index: 1

.distributor-find__komtrax
	position: relative
	width: 512px
	height: 872px
	padding: 55px 70px 0 65px
	display: flex
	flex-direction: column

.distributor-find__komtrax-bg
	position: absolute
	background-color: #f5f5f8
	width: 100%
	height: 782px
	top: 0
	left: 0

.distributor-find__maintance-image
	background: url("../images/distributor-find-maintance-image.png") no-repeat
	width: 425px
	height: 512px
	margin-left: -20px

.distributor-find__komtrax-image
	background: url("../images/distributor-find-komtrax-image.png") no-repeat
	width: 425px
	height: 512px
	margin-left: -20px

.section_4
	padding-top: 130px

.my-komatsu
	position: relative

.my-komatsu__title
	margin: -30px auto 35px

.my-komatsu__descr
	position: relative
	width: 740px
	margin: 0 auto
	z-index: 30

.my-komatsu__donut-gray
	position: absolute
	top: -76px
	left: -418px

.my-komatsu__registration
	position: relative
	background: url("../images/my-komatsu-registration.png") no-repeat
	width: 445px
	height: 711px
	margin-left: 208px

.my-komatsu__auth
	position: relative
	background: url("../images/my-komatsu-auth.png") no-repeat
	width: 479px
	height: 379px
	z-index: 10
	margin-top: -565px
	margin-left: 466px

.my-komatsu__donut-yellow
	position: absolute
	top: 80px
	right: 265px

.my-komatsu__bg-yellow
	top: 930px
	height: 1046px

.capabilities
	position: relative
	margin-bottom: 11px

.capabilities__descr
	margin: 194px 0 0 199px
	width: 330px
	flex-shrink: 0

.capabilities__image
	background: url("../images/capabilities.png") no-repeat
	width: 1080px
	height: 652px
	margin-left: -114px

.capabilities__slider
	margin: 46px 0 0 267px
	.owl-dots
		position: absolute
		margin-top: -79px
		left: 46%
		display: flex
	.owl-dot
		width: 9px
		height: 9px
		background-color: #000
		border-radius: 50%
		margin-right: 31px
		flex-shrink: 0
		&:last-child
			margin-right: 0
		&.active
			background-color: #fff

.capabilities__parallelepiped
	background-color: #ffcc33
	left: 800px
	filter: brightness(100%)

.distributor-capabilities__descr
	width: 820px
	margin: 0 auto 90px

.distributor-news
	display: flex
	justify-content: center

.distributor-image-1
	background: url("../images/distributor-image.png") no-repeat
	width: 420px
	height: 25px
	margin-bottom: 6px

.distributor-image-2
	background: url("../images/distributor-image-2.png") no-repeat
	width: 437px
	height: 414px

.distributor-news__left-item
	width: 437px
	flex-shrink: 0
	margin-right: 40px
	display: flex
	flex-direction: column
	align-items: center
	&:last-child
		margin-right: 0

.distributor-news__right-item
	width: 420px

.distributor-news_donut
	position: absolute
	right: -35px
	bottom: 280px

.section-number_5
	position: relative
	top: 0
	left: 0
	text-align: center
	margin-top: 196px
	line-height: 1
	&::after
		position: absolute
		content: ''
		height: 115px
		width: 2px
		left: 50%
		top: -110px
		transform: translateX(-50%)
		background-color: #000000

.distributor-news__bg-bottom-white
	position: absolute
	left: 500px
	top: 700px
	&::after
		position: absolute
		content: ''
		background-color: #fff
		transform: skew(-27deg) rotate(161deg)
		width: 140px
		height: 200px
		top: 0
		left: 0

.result
	margin-bottom: 80px

.result-map
	position: relative
	background: url("../images/result-map.png") no-repeat
	width: 683px
	height: 377px
	margin: -75px auto 28px
	z-index: 20

.result__descr
	width: 740px
	margin: 0 auto

.result__donut
	position: absolute
	bottom: 395px
	left: 330px
	z-index: 1

.komatsu-wrapper
	.nav-white .nav__menu .nav__menu__contacts .btn
		font-family: "Bello Pro"
		&:hover
			color: #FFFFFF
			background-color: #ffd543
			border-color: #ffd543

	.nav-white .nav__back a
		&:hover
			color: #ffd543

	.nav-white
		height: 113px
		position: absolute

	.pagenavi .pagenavi__post a .pagenavi__cell
		font-family: "HelveticaNeueCyr", Helvetica
		font-size: 16px
		font-weight: 300
		padding: 0 50px

	.pagenavi .pagenavi__post a
		color: #000
		&:hover
			border-color: #ffd543
			color: #ffd543

	.link_site
		text-align: center

	.pagenavi
		padding-top: 0
		padding-bottom: 80px

	.main_btn
		font-family: "Bello Pro"
		display: inline-block
		font-size: 20px
		color: #000
		border: 2px solid #ffd543
		background-color: #ffd543
		padding: 5px 30px
		&:hover
			text-decoration: none
			color: #ffd543
			background-color: #fff
			border-color: #ffd543
	.feedback
		padding-top: 90px
		padding-bottom: 107px

	.feedback .feedback__desktop p,
	.feedback .feedback__desktop a,
	.feedback__name
		font-family: "HelveticaNeueCyr", HelveticaNeueCyr

	.feedback__name
		font-weight: 200
		margin-bottom: 50px

	.feedback .feedback__email .form-group .btn
		font-family: "Bello Pro"
		border-radius: 0
		height: auto
		background-color: transparent
		font-size: 28px
		color: #464646
		border: 3px solid #464646
		padding-top: 11px
		padding-bottom: 11px
		&:hover
			background-color: #ffd543
			border-color: #ffd543
			color: #000

	.vista
		background-color: #ffd543
		padding-top: 75px
		padding-bottom: 100px

	.vista,
	.vista__name,
	.vista p,
	.vista span
		font-family: "HelveticaNeueCyr", HelveticaNeueCyr
		color: #000

	.section__space b
		background-color: #ffd543

	.contacts
		background-image: url("../images/background.jpg")
		background-size: cover