html, body
	margin: 0
	height: 100%

*
	padding: 0
	margin: 0
	box-sizing: border-box

a
	color: inherit
	text-decoration: none
	&:hover
		text-decoration: none

body
	font-family: "HelveticaNeueCyr", Helvetica
	color: #000000
	background-color: #fff

.komatsu-wrapper
	position: relative
	min-width: 1170px
	display: flex
	flex-direction: column
	height: 100%

.section
	position: relative
	width: 100%

.container
	position: relative
	width: 1170px

.nav-white
	position: absolute
	height: 104px
	padding-top: 27px
	.nav__menu .nav__menu__contacts

		.btn
			font-family: "Bello Pro"
			&:hover
				background-color: #ffd543
				border-color: #ffd543

	.nav__back
		a
			&:hover
				color: #ffd543