{% extends "layouts/app.twig" %}

{% block pageTitle %}Komatsu{% endblock %}

{% block content %}
    <div class="content-wrapper">

        <div class="section section_1">
            <div class="komatsu">
                <div class="bg-yellow"></div>
                <div class="container">
                    <div class="d-block text-center mb10">
                        <i class="komatsu-logo wow fadeInDown"></i>
                    </div>
                    <div class="komatsu-bg-inscription-yellow d-flex flex-column flex-align-center margin-center">
                        <h1 class="text-thin fz44 text-black mb7 wow fadeInDown">Сайт и портал «My Komatsu»</h1>
                        <span class="text-thin fz19 text-black mb3 wow fadeInDown">для международного производителя</span>
                        <span class="text-thin fz19 text-black wow fadeInDown">специализированной техники</span>
                    </div>
                    <div class="section-number wow fadeInDown">01</div>
                    <div class="komatsu__bg-white z-index-30"></div>
                    <div class="komatsu__donut-black donut-black"></div>
                </div>
            </div>

            <div class="task">
                <div class="container z-index-30">
                    <div class="d-flex">
                        <div class="task__macbook-screenshot"></div>
                        <div class="parallelepiped-yellow"></div>
                        <div class="task__descr">
                            <h2 class="text-thin text-orange fz44 mb12 wow fadeInDown">Задача</h2>
                            <p class="text-light text-black fz15 lnh1-5 mb62 wow fadeInDown">Komatsu нужен был рестарт корпоративного
                                сайта представительства компании в СНГ<br> и запуск закрытого портала для клиентов<br> и
                                дистрибьюторов бренда.</p>
                            <p class="text-light text-black fz15 lnh1-5 wow fadeInDown">Японская компания Komatsu —<br>это
                                отличительный знак качества машиностроительной отрасли с середины XX века.<br>Строительная,
                                горная и складская техника от Komatsu признана специалистами во всем мире. </p>
                        </div>
                    </div>
                    <div class="donut-gray task__donut-gray"></div>
                </div>
            </div>

            <div class="solution">
                <div class="container">
                    <h2 class="text-thin text-yellow fz44 text-center wow fadeInDown" data-wow-offset="200">Решение найдено</h2>
                    <div class="solution-slider">
                        <div class="solution-slider__carousel owl-carousel jq-solution-slider">
                            <div class="solution-slider__item">Проведен аудит сайтов-конкурентов, найдены креативные
                                решения для нового ресурса Komatsu СНГ
                            </div>
                            <div class="solution-slider__item">Создан новый графический дизайн</div>
                            <div class="solution-slider__item">Разработан удобный и информативный каталог спецтехники,
                                раздел сервисного обслуживания.
                            </div>
                            <div class="solution-slider__item">Проведен аудит сайтов-конкурентов, найдены креативные
                                решения для нового ресурса Komatsu СНГ
                            </div>
                            <div class="solution-slider__item">Создан новый графический дизайн</div>
                            <div class="solution-slider__item">Разработан удобный и информативный каталог спецтехники,
                                раздел сервисного обслуживания.
                            </div>
                        </div>
                    </div>
                    <div class="donut-yellow solution__donut-yellow"></div>
                </div>
            </div>
        </div>

        <div class="section z-index-30">
            <div class="interesting">
                <div class="bg-gray z-index-20"></div>
                <div class="container">
                    <div class="interesting__bg-white bg-white z-index-20"></div>
                    <div class="section-number section-number_2 section-number wow fadeInDown" data-wow-offset="300">02</div>
                    <div class="komatsu-bg-inscription-gray d-flex flex-column flex-align-center margin-center z-index-30">
                        <h2 class="text-thin text-yellow fz44 text-center wow fadeInDown" data-wow-offset="200">Интересные детали</h2>
                    </div>
                    <div class="interesting-images-wrapper z-index-30">
                        <div class="interesting-image-1"></div>
                        <div class="interesting-image-2"></div>
                        <div class="interesting-image-3"></div>
                        <div class="interesting__donut-yellow donut-yellow"></div>
                    </div>
                    <div class="interesting-descr">
                        <div class="interesting-descr__title-wrapper mb20">
                            <div class="title-with-bg-bg wow fadeInDown" data-wow-offset="200">main</div>
                            <div class="title-with-bg-title z-index-30 wow fadeInDown" data-wow-offset="200">главная</div>
                        </div>
                        <div class="interesting-descr__text z-index-30 mb52">
                            <p class="text-light fz15 mb10 wow fadeInDown" data-wow-offset="200">Карта всех возможностей навигации по сайту.</p>
                            <p class="text-light fz15 mb10 wow fadeInDown" data-wow-offset="200">Плюс — она иллюстрирует</p>
                            <p class="text-light fz15 wow fadeInDown" data-wow-offset="200">СИЛОВУЮ МОЩЬ КОМПАНИИ</p>
                        </div>
                        <div class="interesting-descr__title-wrapper mb27">
                            <div class="title-with-bg-bg wow fadeInDown" data-wow-offset="200">catalog</div>
                            <div class="title-with-bg-title z-index-30 wow fadeInDown" data-wow-offset="200">каталог</div>
                        </div>
                        <div class="interesting-descr__text z-index-30">
                            <p class="text-light fz15 mb10 wow fadeInDown" data-wow-offset="200">Техника разделена по предназначению и типам.</p>
                            <p class="text-light fz15 mb10 wow fadeInDown" data-wow-offset="200">Потенциальный клиент может выбрать комфортное для него</p>
                            <p class="text-light fz15 mb30 wow fadeInDown" data-wow-offset="200">отображение каталога – плитка или таблица.</p>
                            <p class="text-light fz15 mb10 wow fadeInDown" data-wow-offset="200">На детальной странице каждого товара есть полное описание,</p>
                            <p class="text-light fz15 mb10 wow fadeInDown" data-wow-offset="200">технические характеристики, фотографии, видео и</p>
                            <p class="text-light fz15 mb10 wow fadeInDown" data-wow-offset="200">дополнительные материалы для скачивания.</p>
                        </div>
                    </div>
                    <div class="interesting-wrapper d-flex">
                        <div class="interesting-tech d-flex flex-justify-beetween">
                            <div class="interesting-tech-wrapper mr20">
                                <div class="interesting-excavator mb19 wow fadeIn" data-wow-duration="4s" data-wow-offset="200"></div>
                                <span class="interesting-tech__name wow fadeIn" data-wow-duration="4s" data-wow-offset="200">Экскаваторы-погрузчики</span>
                            </div>
                            <div class="interesting-tech-wrapper">
                                <div class="interesting-loader mb19 wow fadeIn" data-wow-duration="4s" data-wow-offset="200"></div>
                                <span class="interesting-tech__name wow fadeIn" data-wow-duration="4s" data-wow-offset="200">Погрузчики<br>с бортовым поворотом</span>
                            </div>
                        </div>
                        <div class="interesting-filter d-flex flex-column">
                            <div class="interesting-filter__title-wrapper mb5">
                                <div class="title-with-bg-bg wow fadeInDown">filter</div>
                                <div class="title-with-bg-title z-index-30 wow fadeInDown">фильтр</div>
                            </div>
                            <p class="text-light fz15 mb7 wow fadeInDown">Удобная фильтрация в каталоге не дает клиенту запутаться</p>
                            <p class="text-light fz15 mb27 wow fadeInDown">в многообразии товара</p>
                            <div class="d-flex flex-justify-beetween mb15 wow fadeIn" data-wow-duration="4s" data-wow-offset="200">
                                <div class="button__orange"></div>
                                <div class="button__white"></div>
                            </div>
                            <div class="mb19">
                                <div class="select wow fadeIn" data-wow-duration="4s" data-wow-offset="200"></div>
                            </div>
                            <div>
                                <span class="reset-filter wow fadeIn" data-wow-duration="4s" data-wow-offset="200">Сбросить фильтр</span>
                            </div>
                        </div>
                    </div>
                    <div class="relative-wrapper">
                        <div class="interesting__bg-bottom-white bg-white z-index-20"></div>
                        <div class="section-number section-number_2 wow fadeInDown" data-wow-offset="300">03</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="komatsu-bg-inscription-gray d-flex flex-column flex-align-center margin-center z-index-30">
                    <h2 class="text-thin text-yellow fz44 text-center wow fadeInDown" data-wow-offset="200">Поиск нужного дистрибьютора</h2>
                </div>
                <div class="distributor-find">
                    <div class="d-flex relative-wrapper distributor-find__bg-map">
                        <div class="distributor-find__left-item">
                            <div class="distributor-find__notebook"></div>
                            <div class="distributor-find__notebook-parallelepiped parallelepiped-yellow"></div>
                        </div>
                        <div class="distributor-find__right-item">
                            <p class="text-light fz15 lnh1-6 mb24 wow fadeInDown">Поиск дистрибьютора наглядно реализован на карте. Пользователь сразу может выбрать тип техники, которая ему необходима и соответственно город для доставки. </p>
                            <p class="text-light fz15 lnh1-6 mb54 wow fadeInDown">При нажатии на графический знак города всплывает плашка со всей необходимой информацией для связи с дистрибьютором. Ниже есть текстовый список филиалов.</p>
                            <div class="distributor-find__input wow fadeIn" data-wow-duration="4s" data-wow-offset="200"></div>
                        </div>
                    </div>
                    <div class="vertical-line wow fadeInDown" data-wow-offset="200"></div>
                    <div class="distributor-find-grid">
                        <div class="distributor-find__maintance">
                            <div class="distributor-find__maintance-bg"></div>
                            <h2 class="fz44 text-black text-thin lnh1-1 mb18 z-index-20 wow fadeInDown" data-wow-offset="200">Сервисное обслуживание</h2>
                            <p class="text-light fz15 lnh1-6 mb24 z-index-20 distributor-find__text wow fadeInDown"  data-wow-offset="200">Компания Komatsu — производитель масштабной спецтехники, для клиентов важен фактор сервисного обслуживания. Отдельный раздел рассказывает о возможностях дистрибьюторской поддержки и разных видах запчастей.</p>
                            <div class="distributor-find__maintance-image z-index-20 wow fadeIn" data-wow-offset="200" data-wow-duration="4s"></div>
                        </div>
                        <div class="distributor-find__komtrax">
                            <div class="distributor-find__komtrax-bg"></div>
                            <h2 class="fz44 text-black text-thin lnh1-1 mb18 z-index-20 wow fadeInDown" data-wow-offset="200">Komatsu —<br>Komtrax</h2>
                            <p class="text-light fz15 lnh1-6 mb24 z-index-20 distributor-find__text wow fadeInDown" data-wow-offset="200">Komatsu владеет своей беспроводной системой мониторинга техники — KOMTRAX. Принцип её работы и инструкцию можно посмотреть в соответствующем разделе сайта.</p>
                            <div class="distributor-find__komtrax-image z-index-20 wow fadeIn" data-wow-offset="200" data-wow-duration="4s"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section_4">
            <div class="my-komatsu__bg-yellow bg-yellow z-index-20"></div>
            <div class="container mb40 z-index-30">
                <div class="my-komatsu__bg-bottom-white bg-white z-index-20"></div>
                <div class="section-number section-number_2 wow fadeInDown" data-wow-offset="300">04</div>
                <div class="my-komatsu">
                    <div class="komatsu-bg-inscription-gray my-komatsu__title d-flex flex-column flex-align-center z-index-30">
                        <h2 class="text-thin text-yellow fz44 text-center wow fadeInDown" data-wow-offset="200">Портал MY KOMATSU</h2>
                    </div>
                    <div class="my-komatsu__descr">
                        <div class="donut-gray my-komatsu__donut-gray"></div>
                        <p class="text-light fz15 lnh1-6 text-center mb23 wow fadeInDown" data-wow-offset="200">MY KOMATSU — большая новая платформа для клиентов компании и её дистрибьюторов. Она облегчает и делает оперативнее взаимодействие сторон. Клиент просматривает информацию о его парке техники, отправляет заявки на обслуживание, читает новости и спец. предложения, скачивает инструкции и каталоги запчастей к своим моделям машин.</p>
                        <p class="text-light fz15 lnh1-6 text-center wow fadeInDown" data-wow-offset="200">Дистрибьютор со своей стороны наполняет контентом портал.</p>
                    </div>
                </div>
            </div>
            <div class="container z-index-30">
                <div class="donut-yellow my-komatsu__donut-yellow"></div>
                <div class="my-komatsu__registration"></div>
                <div class="my-komatsu__auth"></div>
            </div>
            <div class="capabilities z-index-30">
                <div class="d-flex">
                    <div class="capabilities__descr">
                        <h2 class="fz44 text-black text-thin lnh0-9 mb24 z-index-20 text-right wow fadeInDown">Новые возможности клиента</h2>
                        <p class="text-light fz16 lnh1-5 text-right wow fadeInDown" data-wow-delay="0.3s">После заполнения полей логин/пароль пользователи оказываются на странице «Мой парк», где отображена вся имеющаяся у клиента техника. Информация о ней подгружается из «1С» со стороны Komatsu, с которой проведена интеграция.</p>
                    </div>
                    <div class="capabilities__image">
                        <div class="capabilities__slider owl-carousel jq-capabilities-slider z-index-30">
                            <img class="capabilities__inner"  src="images/capabilities-inner.jpg" alt="">
                            <img class="capabilities__inner"  src="images/capabilities-inner.jpg" alt="">
                            <img class="capabilities__inner"  src="images/capabilities-inner.jpg" alt="">
                            <img class="capabilities__inner"  src="images/capabilities-inner.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="capabilities__parallelepiped parallelepiped-yellow"></div>
            </div>
            <div class="container z-index-30">
                <div class="distributor-capabilities">
                    <div class="distributor-capabilities__descr">
                        <h2 class="fz44 text-black text-thin z-index-20 text-center mb9 wow fadeInDown" data-wow-offset="200">Возможности дистрибьютора</h2>
                        <p class="text-light fz15 text-center mb45 wow fadeInDown" data-wow-offset="200">Со стороны Komatsu на портале присутствуют дистрибьюторы.</p>
                        <p class="text-light fz16 lnh1-5 text-center mb24 wow fadeInDown" data-wow-offset="200">Со стороны Komatsu на портале присутствуют дистрибьюторы. У них есть возможность полностью контролировать деятельность пользователей на портале. Новости и спецпредложения добавляются по прописанной форме. Модератор может указать срок активности новости/предложения, добавить изображение и тип техники. Интересно, что к одной новости её автор может привязать несколько дистрибьюторов и все их клиенты будут видеть публикацию. Это значительно упрощает работу с масштабными акциями.</p>
                        <p class="text-light fz16 lnh1-5 text-center wow fadeInDown" data-wow-offset="200">Входящие заявки на гарантию обрабатываются в личном кабинете сотрудниками  Komatsu. Для удобства посредников по каталогу клиентов настроен поиск и постраничная навигация. </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="distributor-news">
                    <div class="distributor-news__left-item">
                        <div class="distributor-image-1 wow fadeIn" data-wow-offset="200" data-wow-duration="4s"></div>
                        <div class="distributor-image-2 wow fadeIn" data-wow-offset="200"data-wow-duration="4s"></div>
                    </div>
                    <div class="distributor-news__right-item">
                        <h2 class="fz44 text-black text-thin z-index-20 mb30 wow fadeInDown" data-wow-offset="200">Новости и спецпредложения дистрибьтора</h2>
                        <p class="text-light fz16 lnh1-5 wow fadeInDown" data-wow-offset="200">В кабинете собраны новости и спецпредложения непосредственно от дистрибьютора конкретного пользователя.</p>
                        <p class="text-light fz16 lnh1-5 wow fadeInDown" data-wow-offset="200">Это не запутывает клиента и дает возможность точно оценить ситуацию на рынке и не пропустить выгодное предложение. Ниже основного меню всегда расположена информация о дистрибьюторе.</p>
                    </div>
                </div>
                <div class="distributor-news_donut donut-black"></div>
                <div class="distributor-news__bg-bottom-white bg-white z-index-20"></div>
                <div class="section-number section-number_5 z-index-10 wow slideInDown" data-wow-offset="300">05</div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="result">
                    <div class="komatsu-bg-inscription-gray my-komatsu__title d-flex flex-column flex-align-center z-index-30">
                        <h2 class="text-thin text-yellow fz44 text-center">В итоге</h2>
                    </div>
                    <div class="result-map"></div>
                    <div class="result__descr">
                        <p class="text-light fz15 lnh1-6 text-center mb23 wow fadeInDown" data-wow-offset="200">Новый сайт и портал открывают большие возможности для работы Komatsu на территории СНГ.
                            Максимум информации о компании, моделях техники, запчастях, возможностях компании.  Портал как имиджевый, информационный, но, в первую очередь, пользовательский проект полностью выполняет свои задачи.</p>
                        <p class="text-light fz15 lnh1-6 text-center wow fadeInDown" data-wow-offset="200">Мы создали новый сайт по всем требованиям потенциальных клиентов Komatsu СНГ. Простая навигация, строгий дизайн с яркими цветовыми акцентами. Теперь владельцу машин Komatsu доступны все данные о технике и информация от официальных посредников Komatsu в одном окне. </p>
                    </div>
                    <div class="result__donut donut-yellow"></div>
                </div>
                <div class="link_site mb45">
                    <a href="#feedback" class="main_btn">Заказать проект</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}