{% extends "layouts/app.twig" %}

{% block pageTitle %}Komatsu{% endblock %}

{% block content %}
    <div class="content-wrapper">

        <div class="section section_1">
            <div class="komatsu">
                <div class="bg-yellow"></div>
                <div class="container">
                    <div class="d-block text-center mb10">
                        <i class="komatsu-logo"></i>
                    </div>
                    <div class="komatsu-bg-inscription-yellow d-flex flex-column flex-align-center margin-center">
                        <h1 class="text-thin fz44 text-black mb7">Сайт и портал «My Komatsu»</h1>
                        <span class="text-thin fz19 text-black mb3">для международного производителя</span>
                        <span class="text-thin fz19 text-black">специализированной техники</span>
                    </div>
                    <div class="section-number">01</div>
                    <div class="komatsu__bg-white z-index-20"></div>
                    <div class="komatsu__donut-black donut-black"></div>
                </div>
            </div>

            <div class="task">
                <div class="container z-index-30">
                    <div class="d-flex">
                        <div class="task__macbook-screenshot"></div>
                        <div class="parallelepiped-yellow"></div>
                        <div class="task__descr">
                            <h2 class="text-thin text-orange fz44 mb12">Задача</h2>
                            <p class="text-light text-black fz15 lnh1-5 mb62">Komatsu нужен был рестарт корпоративного
                                сайта представительства компании в СНГ<br> и запуск закрытого портала для клиентов<br> и
                                дистрибьюторов бренда.</p>
                            <p class="text-light text-black fz15 lnh1-5">Японская компания Komatsu —<br>это
                                отличительный знак качества машиностроительной отрасли с середины XX века.<br>Строительная,
                                горная и складская техника от Komatsu признана специалистами во всем мире. </p>
                        </div>
                    </div>
                    <div class="donut-gray task__donut-gray"></div>
                </div>
            </div>

            <div class="solution">
                <div class="container">
                    <h2 class="text-thin text-yellow fz44 text-center">Решение найдено</h2>
                    <div class="solution-slider">
                        <div class="solution-slider__carousel owl-carousel jq-solution-slider">
                            <div class="solution-slider__item">Проведен аудит сайтов-конкурентов, найдены креативные
                                решения для нового ресурса Komatsu СНГ
                            </div>
                            <div class="solution-slider__item">Создан новый графический дизайн</div>
                            <div class="solution-slider__item">Разработан удобный и информативный каталог спецтехники,
                                раздел сервисного обслуживания.
                            </div>
                            <div class="solution-slider__item">Проведен аудит сайтов-конкурентов, найдены креативные
                                решения для нового ресурса Komatsu СНГ
                            </div>
                            <div class="solution-slider__item">Создан новый графический дизайн</div>
                            <div class="solution-slider__item">Разработан удобный и информативный каталог спецтехники,
                                раздел сервисного обслуживания.
                            </div>
                        </div>
                    </div>
                    <div class="donut-yellow solution__donut-yellow"></div>
                </div>
            </div>
        </div>

        <div class="section z-index-30">
            <div class="interesting">
                <div class="bg-gray z-index-20"></div>
                <div class="container">
                    <div class="interesting__bg-white bg-white z-index-20"></div>
                    <div class="section-number section-number_2">02</div>

                    <div class="komatsu-bg-inscription-gray d-flex flex-column flex-align-center margin-center z-index-30">
                        <h2 class="text-thin text-yellow fz44 text-center">Интересные детали</h2>
                    </div>
                    <div class="interesting-images-wrapper z-index-30">
                        <div class="interesting-image-1"></div>
                        <div class="interesting-image-2"></div>
                        <div class="interesting-image-3"></div>
                    </div>
                    <div class="interesting-descr">
                        <div class="interesting-descr__title-wrapper mb30">
                            <div class="title-with-bg-bg">main</div>
                            <div class="title-with-bg-title z-index-30">главная</div>
                        </div>
                        <div class="interesting-descr__text z-index-30 mb42">
                            <p class="text-light fz15 mb10">Карта всех возможностей навигации по сайту.</p>
                            <p class="text-light fz15 mb10">Плюс — она иллюстрирует</p>
                            <p class="text-light fz15">СИЛОВУЮ МОЩЬ КОМПАНИИ</p>
                        </div>
                        <div class="interesting-descr__title-wrapper mb38">
                            <div class="title-with-bg-bg">catalog</div>
                            <div class="title-with-bg-title z-index-30">каталог</div>
                        </div>
                        <div class="interesting-descr__text z-index-30">
                            <p class="text-light fz15 mb10">Техника разделана по предназначению и типам.</p>
                            <p class="text-light fz15 mb10">Потенциальный клиент может выбрать комфортное для него</p>
                            <p class="text-light fz15 mb30">отображение каталога – плитка или таблица.</p>
                            <p class="text-light fz15 mb10">На детальной странице каждого товара есть полное описание,</p>
                            <p class="text-light fz15 mb10">технические характеристики, фотографии, видео и</p>
                            <p class="text-light fz15 mb10">дополнительные материалы для скачивания.</p>
                        </div>
                    </div>
                    <div class="interesting-filter d-flex">
                        <div class="interesting-tech d-flex">
                            <div class="interesting-excavator"></div>
                            <div class="interesting-loader"></div>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="interesting-filter__title-wrapper mb5">
                                <div class="title-with-bg-bg">filter</div>
                                <div class="title-with-bg-title z-index-30">фильтр</div>
                            </div>
                            <p class="text-light fz15 mb10">Удобная фильтрация в каталоге не дает клиенту запутаться</p>
                            <p class="text-light fz15 mb10">в многообразии товара</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}