{% extends "layouts/app.twig" %}

{% block pageTitle %}Komatsu{% endblock %}

{% block content %}
<div class="content-wrapper">

    <div class="section">
        <div class="komatsu">
            <div class="bg-yellow"></div>
            <div class="container">
                <div class="d-block text-center mb10">
                    <i class="komatsu-logo"></i>
                </div>
                <div class="komatsu__bg-inscription d-flex flex-column flex-align-center margin-center">
                    <h1 class="text-thin fz44 text-black mb7">Сайт и портал «My Komatsu»</h1>
                    <span class="text-thin fz19 text-black mb3">для международного производителя</span>
                    <span class="text-thin fz19 text-black">специализированной техники</span>
                </div>
                <div class="section-number">01</div>
                <div class="komatsu__donut-black donut-black"></div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="task">
            <div class="bg-white z-index-20"></div>
            <div class="container z-index-30">
                <div class="d-flex">
                    <div class="task__macbook-screenshot"></div>
                    <div class="parallelepiped-yellow"></div>
                    <div class="task__descr">
                        <h2 class="text-thin text-yellow fz44 mb12">Задача</h2>
                        <p class="text-light text-black fz15 lnh1-5 mb62">Komatsu нужен был рестарт корпоративного сайта представительства компании в СНГ<br> и запуск закрытого портала для клиентов<br> и дистрибьюторов бренда.</p>
                        <p class="text-light text-black fz15 lnh1-5">Японская компания Komatsu —<br>это отличительный знак качества машиностроительной отрасли с середины XX века.<br>Строительная, горная и складская техника от Komatsu признана специалистами во всем мире. </p>
                    </div>
                </div>
                <div class="donut-gray task__donut-gray"></div>
            </div>
        </div>
    </div>

    <div class="section z-index-30">
        <div class="solution">
            <div class="container">
                <h2 class="text-thin text-yellow fz44 text-center">Решение найдено</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}